* {
  box-sizing: border-box;
}

.buttonsPanel{
  margin-bottom: 15px;
}

.navButton{
  cursor: pointer;
  width: 30px;
  border: 2px solid teal;
  border-radius: 2px;
  background-color: white;
  margin: 0 1px;
}

.navButtonCurrent{
  cursor: pointer;
  width: 30px;
  border: 2px solid brown;
  border-radius: 2px;
  background-color: white;
  margin: 0 1px;
}

.post{
  border: 2px solid gray;
  margin-bottom: 15px;
}

.postTitle{
  border: 1px solid black;
}